<a href="https://colab.research.google.com/github/rkmaccha/data_collection/blob/main/Working_with_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests

request : https://developers.themoviedb.org/3/movies/get-top-rated-movies   <br>
api key : https://www.themoviedb.org/

In [2]:
requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=8b5b96d3ca737f2fbd5d43e5a4296950&language=en-US&page=1")

In [3]:
response= requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=8b5b96d3ca737f2fbd5d43e5a4296950&language=en-US&page=1")

In [5]:
data = pd.DataFrame(response.json()['results'])

In [6]:
data.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/iNh3BivHyg5sQRPP1KOkzguEX0H.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,64.079,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,1994-09-23,The Shawshank Redemption,False,8.7,21475
1,False,/90ez6ArvpO8bvpyIngBuwXOqJm5.jpg,"[35, 18, 10749]",19404,hi,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",17.514,/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,1995-10-20,Dilwale Dulhania Le Jayenge,False,8.7,3659
2,False,/AbgEQO2mneCSOc8CSnOMa8pBS8I.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",58.825,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.7,16005
3,False,/loRmRzQXZeqG78TqZuyvSlEQfZb.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,33.699,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-11-30,Schindler's List,False,8.6,12789
4,False,/poec6RqOKY9iSiIUmfyfPfiLtvB.jpg,"[18, 80]",240,en,The Godfather: Part II,In the continuing saga of the Corleone crime f...,44.197,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather: Part II,False,8.6,9650